@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #171717;
  background: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  @apply flex flex-col mb-12 gap-10 z-0 md:w-[900px];
}

.section {
 @apply flex flex-col gap-4 p-4;
}

.titulo {
  @apply text-3xl font-extrabold;
}

.titulo2 {
  @apply text-2xl font-extrabold;
}